* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'DSFont';
    src: url('fonts/sm64ds-text-editor-usa.otf') format(opentype);
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-VariableFont_opsz\,wght.ttf') format(TTF);
}

html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}


body
{
    background-color: rgb(25, 16, 43);
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    /* background-image: url("your_image_url.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;  */
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Puts the video behind other content */
    object-fit: cover; /* Ensures the video covers the entire area without distortion */
}

h1
{
    color:rgb(255, 255, 255)
}

p
{
    margin: 2.0rem;
    color:rgb(217, 236, 250);
}

.p2
{
    color:rgb(255, 255, 255);
}

.topnav
{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 2rem 1rem;
    min-width: 100%;
}

.topnav a
{
    font-size: 1.6rem; 
    line-height: 2.2rem;
}

.topnav a.home
{
    font-size: 2.2rem;
    font-weight: bold;
}

.topnav a:hover
{
    background-color: #ddd;
    color: black;
}

.topnav-right 
{
    display: flex;
    gap: 1.5rem;
}

.scroll-container {
    overflow: auto;
    text-align: center;
    background-color: rgba(20, 17, 22, 0.5);
    border: 3px solid #ccc;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5%;
    margin-bottom: 5%;
}

.header-container {
    overflow-x: hidden; 
    overflow-y: hidden;

    text-align: center;
    font-size: 1.6rem;

    background-color: rgba(20, 17, 22, 0.75);
    border: .3rem solid #8eafe8;
    margin: 10vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.header-container p
{
    padding: 0rem;
}

.title-container {
    overflow-x: hidden; 
    overflow-y: hidden;

    text-align: left;
    font-size: 1.6rem;

    background-color: rgba(20, 17, 22, 0.75);
    border: .3rem solid #8c7dec;
    margin: 10vw;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.title-container p
{
    padding: 0rem;
}

.subtext {
    text-align: right;
    font-size: 1.2rem;
    padding: 0rem;
}

.caption {
    text-align: center;
    font-size: 1.6rem;
    padding: 0rem;
    margin-top: 0.3rem;
}

a:link, a:visited {
  background-color: #5a43ef;
  color:rgb(217, 236, 250);
  padding: .5rem 1rem;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(199, 158, 226);
}

.bar-divider {
    width: 80%;
    height: 0.5rem;
}

.misc-img {
    width: 100%;
    max-width: 28rem; /* Limits size to 560px equivalent */
    height: auto;
}

iframe {
    width: 90%;
    max-width: 56rem; /* Limits size to 560px equivalent */
    aspect-ratio: 16 / 9;
    height: auto;
}

.thumbnail {
    width: 90%;
    max-width: 56rem; /* Same as Youtube Video equivalent */
    height: auto;
}

.top-button-container {
  display: flex;
  gap: 1.5rem;           
}

.button-container {
  display: flex;
  margin-top: 0rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  gap: 1.5rem;           
}

/* small puter */
@media screen and (max-width: 800px)
{
    .topnav a {
        font-size: 1.4rem;
        padding: 0.6rem;
    }

    .topnav a.home {
        font-size: 1.8rem;
        font-weight: bold;
    }

    .scroll-container {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .title-container{
        margin: 5vw;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}

/* m*bile device */
@media screen and (max-width: 600px)
{
    .topnav {
        justify-content: center;
    }
    .topnav-right {
        float: none;
        display: flex;
        justify-content: center;
    }

    .topnav a.home {
        display: none;
    }

    .header-container{
        font-size: 1.4rem;
    }

    .title-container{
        font-size: 1.4rem;
    }

    .subtext{
        font-size: 1rem;
    }

    .caption{
        font-size: 1.2rem;
    }

    a:link, a:visited {
        font-size: 1.4rem;
        padding: 0.6rem;
    }
}
